// $bg-main-color:#551000;

$white-color: #fff;
$black-color: #000;
$base-color: #140a32;
$base-green: #33836e;
$lightgray-color: rgba(47, 43, 67, 0.4);
$gray-color: #ffffff80;
$silver-color: #7979790a;
$text-gray-color: rgba(47, 43, 67, 0.4);
$white-color: #fff;
$black-color: #000;
$base-color: #140a32;
$base-green: #33836e;
$lightgray-color: rgba(47, 43, 67, 0.4);
$gray-color: rgba(255, 255, 255, 0.50);
$gray-background: rgba(47, 43, 67, 0.04);
$gray-border: rgba(47, 43, 67, 0.15);
$bg-hover: #1a77a3;
$base-greenHover: #81d2bc;
$bg-graycolor: rgb(236, 243, 241);
$gray-p:rgba(255, 255, 255, 0.50);
$btn-bg:#E0ECE9;