#end-site {
  padding-top: 80px;
  margin-top: 80px;
  .container {
    padding-left: 20px;
    color: $base-color;

    div {
      display: flex;
      flex-wrap: wrap;
      ul {
        width: 270px;
        margin-bottom: 50px;
        li {
          a {
            color: $base-color;
          }
        }
      }
    }
  }
}
